
<mat-card>
    <mat-card-header>
      <mat-card-title>Personal Details</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <table class="table table-striped mt-5">
          <tr>
            <td> Staff ID:</td>
            <td><b>COICT/CSE/001</b></td>
          </tr>
          <br>
          <tr>
            <td> Email:</td>
            <td><b>staffcoict&#64;udsm.ac.tz</b></td>
            <td><button mat-button color="primary"> <mat-icon>edit</mat-icon> Change</button></td>
          </tr>
          <br>
          <tr>
            <td>  Mobile Number:</td>
            <td><b>0772334564</b></td>
            <td><button mat-button color="primary"> <mat-icon>edit</mat-icon> Change</button></td>
          </tr>
          <br>
          <tr>
            <td> Password</td>
            <td><b>567890</b></td>
            <td><button mat-button color="primary"> <mat-icon>edit</mat-icon> Change</button></td>
          </tr>

        </table>

    </mat-card-content>
  </mat-card>