
<mat-card>
    <mat-card-header>
      <mat-card-title>Personal Details</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <table class="table table-striped mt-5">
          <tr>
            <td> Registration Number:</td>
            <td><b>2021-04-00230</b></td>
          </tr>
          <br>
          <tr>
            <td> Programme:</td>
            <td><b>BSc. in Computer Science</b></td>
          </tr>
          <br>
          <tr>
            <td> Email:</td>
            <td><b>aliahmed &#64; gmail.com</b></td>
            <td><button mat-button color="primary"> <mat-icon>edit</mat-icon> Change</button></td>
          </tr>
          <br>
          <tr>
            <td>  Mobile Number:</td>
            <td><b>+255-000-111-222</b></td>
            <td><button mat-button color="primary"> <mat-icon>edit</mat-icon> Change</button></td>
          </tr>
          <br>
          <tr>
            <td> Password</td>
            <td><b>7890</b></td>
            <td><button mat-button color="primary"> <mat-icon>edit</mat-icon> Change</button></td>
          </tr>

        </table>

    </mat-card-content>
  </mat-card>