<mat-toolbar color="primary">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <!-- <mat-icon>more_vert</mat-icon> -->
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="dashboard"><mat-icon>home</mat-icon> Home</a>
            <a mat-menu-item routerLink="reports"><mat-icon>assignment</mat-icon> Reports</a>
            <a mat-menu-item routerLink="lecturer-profile"><mat-icon>person</mat-icon> Profile</a>
      </mat-menu>
  
    <span>Instructor</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="link">Logout <mat-icon>meeting_room</mat-icon> </button>
  </mat-toolbar>

  <!-- Add Content Here -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
